@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

body{
  background-color: #FFF;
  font-family: "Roboto";
}

.header__bg{
  background-image: url("../img/background.png");
}

#search{
  height: 74px;
  width: 700px;
  font-size: 1.8em;
  color: #f59e92;
  padding: 0em 1em;
  border-radius: 5px;
  border: 0px;
  margin: 5em 0em 1em 0em;
}

#results{
  padding: 2em 0em;
}

.format__types{
  background: #fff;
  border-radius: 5px 5px 0em 0em;
  text-align: center;
}

.type_item{
  display: inline-block;
  color: #6e3e5f;
  font-size: 1.2em;
  border-bottom: 4px solid #6e3e5f;
  padding: 15px 0px 10px 0px;
}






.item{
  font-size: 1.6em;
  color: #79c3a2;
}

.item-wrapper:hover{
  background-color: #edf7f3;
}

.item-top{
  cursor: pointer;
  padding: 2em 0em;
}

.item-bottom{
  text-align: center;
}

.rating-section{
  text-align: center;
}

.rating-ul{
}

.rating-ul li{
  display: inline-block;
}
